body{
    width: 99.70%;
}
.Box {
   
    width: 90%;
    height: 50px;
    padding: 15px 5%;
    margin: auto;
    display: flex;
    gap: 20%;
    justify-content: space-between;
}
.left {
    display: flex;
    gap: 10%;
}
.right {
    width: 60%;
    display: flex;
    gap: 5%;
}
.flex {
    display: flex;
}