.container1 {
    padding-top: 1%;
}

.container2 {
    padding: 5% 10%;
    width: 110%;
    display:flex;
    flex-direction: row;
}

.left2 {
    width: 65%;
}

.right2 {
    width: 35%;
}

.left2 p {
    font-size: 12px;
}
.left2 p ul {
    margin-top: 0%;
    margin-left: -1%;
}

.left2 div {
    display:flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.left2 div p:nth-child(2) {
    font-size: 75%;
    font-weight: bold;
}

.right2 img {
    width: 50px;
    margin-left: 37.5%;
    margin-top: 20%;
    margin-bottom: 15%;
}

.info_card{
    display: flex;
   margin: 10px 0px;
   width: 130%;

}

.avatar{
   font-size: 100px;
  
}
.avatar_div{
    position: relative;
    overflow: hidden;
}

.upload_div{
    position: absolute;
   
    top: 170px;
    left: 410px;
    border-radius: 50%;
    background-color: rgba(41, 40, 40, 0.705);
    color: white;
    height: 80px;
    width: 80px;
    
    transition: top 0.3s ease-in-out;
    overflow: hidden;
}



.upload_div h3{
    font-size: 15px;
    text-align: center;

}